CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# Signing secret del webhook (https://dashboard.stripe.com/test/webhooks)
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=mongodb+srv://<user>:<password>@<host>/<database>

JWT_SECRET=

ORDERS_DATABASE_URL=postgresql://<user>:<password>@<host>:5432/<database>?schema=public
